article{
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    padding-top: 30px;
}

/*--Mobil-läge--*/
@media screen and (max-width: 600px) {
 h1{
    width: 90%;
 }
 p{
    width: 90%;
 }
}