nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1.2rem;
    align-self: flex-end;
}

nav ul li a {
    background-color: #F5F1E8;
    opacity: 0.9;
    padding: 10px;
    border-radius: 5px;
}

#logo {
    color: #EEF5FF;
    text-shadow: 0px 4px 10px rgba(40, 37, 37, 0.3);
    font-size: 1.6rem;
    align-self: flex-end;
}

#logo:hover {
    opacity: 0.9;
}

nav ul li.current a{
    opacity: 1;
    background-color: #EEF5FF;
}

nav ul li a:hover {
    opacity: 1;
}