/* You can add global styles to this file, and also import other style files */
/*Fjalla one*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-size: 100%;
    height: 100vh;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    font-size: 1.2rem;
    background-color: #F5F1E8;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

p {
    max-width: 65ch;
    line-height: 1.6;
}

 h1, h2, h3 {
    font-family: "Fjalla One", Impact, Arial, sans-serif, sans-serif;
    line-height: 1.6;
}

h1{
    font-size: 2.2rem;
}

a {
    text-decoration: none;
    color: black;
}



main{
    padding-bottom: 30px;
}

/*--Mobil-läge--*/
@media screen and (max-width: 600px) {
    h1{
        font-size: 1.8rem;
    }

    h2, h3{
        font-size: 1.6rem;
    }
}