#contentHomeWrapper{
    width: 100%;
    display: grid;
    justify-items: center;
    row-gap: 2rem;
}

#section1{
    padding-top: 30px;
    display: grid;
    justify-items: center;
    width: 90%;
    grid-template-rows: auto 1fr;
    
}

#section2{
    display: grid;
    justify-items: center;
    width: 90%;
    grid-template-rows: auto auto 1fr;
   
}

#section2 p{
    padding-bottom: 20px;
}

img {
    width: 50%;
    border-radius: 5px;
}



/*--Mobil-läge--*/
@media screen and (max-width: 600px) {
    img{
        width: 100%;
    }
    
}